Phillipos Mazaris <phmazaris@edu.aau.at>
Phillipos Mazaris <ph.mazaris@gmail.com>
Chiara Maizinger <chmaizinger@edu.aau.at>
Lukas Bugelnig <lubugelnig@edu.aau.at>
Lukas Bugelnig <bugelnig.lukas@gmail.com>
Mats Pacher <matspa@edu.aau.at>
